
@font-face {
    font-family: Noto Sans;
    src: url("../fuentes/noto-sans/NotoSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Noto Sans;
    src: url("../fuentes/noto-sans/NotoSans-Bold.ttf");
    font-weight: bold;
}

body {
    text-transform: uppercase; 
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.visible {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: Noto Sans;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Precio {

	background-color: rgba(237,237,237,255);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

    height: 35vh;
    font-size: 12vw;
    color: rgb(43,42,48);
}


.Desc {
    background-color: white;
    height: 40vh;
    font-size: 5vw;
    color: rgb(43,42,48);
}

.Oferta {
    background-color: white;
    height: 25vh;
    font-size: 6vh;
    color: rgb(141, 141, 141);
    font-weight: normal;
    justify-content:space-between;
}

#Oferta{
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.Oferta > * {
    margin: 0 15px;
}

#logopie {
    position: relative;
    right: 5px;
    /* bottom: 5px; */
    height: 90%;
}

input{
    opacity: 0; 
    position: absolute;
    right: 0;
}

#protector-pantalla {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

#protector-pantalla img {
	/* max-width: 90%;
	max-height: 90%; */
}





